body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161616;
  color: #f4f4f4;
  min-height: 100vh;
}

html {
  background-color: #161616;
}

code {
  font-family: 'IBM Plex Mono', monospace;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
}
